{% extends "base.html" %}
{% block titre %}Témoignage enregistré – BeeHeard{% endblock %}

{% block contenu %}
<div class="confirmation">
  <h1>Votre témoignage a été enregistré</h1>
  <p>
    Il sera examiné avant d'être intégré aux données agrégées. Les informations
    que vous avez transmises ont été anonymisées selon le niveau que vous avez
    choisi, et votre consentement a été enregistré avec sa date.
  </p>
  <p>
    <a href="/" class="bouton">Consulter le tableau de bord</a>
  </p>
</div>
{% endblock %}
